.show-list{
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.show-item{
    margin: 20px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0);
    transition: 0.3s ease;
}

.show-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}